<form data-bind="visible: isLoggedIn() === false" class="navbar-form navbar-left">
  <div class="form-group">
  	<input type="email" data-bind="value: email" class="form-control" id="inputEmail3" placeholder="Email">
  </div>
  <div class="form-group">
  	<input type="password" data-bind="value:password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
  <button data-bind="click: login" type="submit" class="btn btn-default">Sign in</button>
</form>

<p data-bind="visible: isLoggedIn" class="navbar-text navbar-right">
	Signed in as <a data-bind="text: email" href="#" class="navbar-link"></a>
</p>